body {
    font-family: sans-serif;
    background: #000000;
    font-size: 16px;
}
p{
color: rgb(2, 0, 147);
}


h1{
    color: rgb(0, 53, 198);
}
a{
    border:1px solid rgb(0, 53, 198);
    color:rgb(0, 53, 198);
    text-decoration: none;
    border-radius: 15px;
    padding: 5px;
    margin: 10px;
}
p:hover{
    color: rgb(51, 47, 255);
}
